@import "tailwindcss";
@import "tw-animate-css";

body {
  margin-left: 4rem; /* Mobile */
}

@media (min-width: 768px) {
  body {
    margin-left: 16rem; /* Desktop expandido por defecto */
    transition: margin-left 0.3s ease;
  }
  
  body.compact-sidebar {
    margin-left: 4rem; /* Desktop compacto */
  }
}